<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>简单模版</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="../../library/mui/css/mui.min.css" />
		<link rel="stylesheet" href="css.css" />
	</head>
	<body>
		
		<!--html页面内容...-->
		<!--必然引入，不与自定义模块一起打包-->
		<script src="../../library/mui/js/mui.min.js"></script>
		<script src="../../library/moment/moment.js" ></script> 
		<script src="./out.js"></script>
	</body>
</html>
